.header-wrapper {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-weight: bold;
    font-size: 26px;
  }
  .theme-container {
    display: flex;
    align-items: center;
    &-name {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}