.App {
  .app-container {
    width: 80%;
    margin: 0 auto;
  }
  .dark-theme, .light-theme {
    min-height: 100vh;
  }
  .dark-theme, .dark-theme .top-container {
    background-color: black;
    color: white;
  }
  .light-theme, .light-theme .top-container {
    background-color: white;
    color: black;
  }
  .top-container {
    z-index: 1;
    position: sticky;
    top: 0;
  }
}
